<div class="layout">
  <div class="sidebar-pane">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content-pane">
    <header class="top-header">
      <div class="header-left">
        <!-- <span class="material-symbols-outlined brand-icon">interests</span> -->
        <!-- <span class="brand-name">AT Datalake</span> -->
      </div>

      <div class="header-right">
        <button
          class="icon-button"
          type="button"
          [title]="isDark ? 'Switch to light theme' : 'Switch to dark theme'"
          (click)="toggleTheme()">
          <span class="material-symbols-outlined">{{ isDark ? 'light_mode' : 'dark_mode' }}</span>
        </button>
        <button class="icon-button" type="button">
          <span class="material-symbols-outlined">notifications</span>
        </button>
        <div class="divider-v"></div>
        <div class="user-avatar" (click)="profileMenu.toggle($event)">
          <span class="material-symbols-outlined">person</span>
        </div>
        <p-menu #profileMenu [model]="profileMenuItems" [popup]="true" appendTo="body" [baseZIndex]="10000" styleClass="profile-menu"></p-menu>
      </div>
    </header>

    <div class="page-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
